/* General App Styles */
body {
    background-color: #121212; /* Dark background for the whole app */
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* react-brackets custom styles */
.custom-bracket {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling for large brackets */
    padding: 20px;
}

.custom-round {
    margin-right: 40px; /* Space between rounds */
    flex-shrink: 0;
}

.custom-seed {
    margin-bottom: 20px; /* Space between matches in a round */
    position: relative;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  